body{
    margin: 0px;
    width: 1600px;
    background-image: url(imgs/img1.jpg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

* {
    box-sizing: border-box;
}

.sect-1{
    .navbar{
        padding: 1em;
        background-color: #f2f2f2;
        
        .home{
    
            .logo{
                text-decoration: none;
                font-size: 3em;
                font-family: Verdana;
                padding-left: 43%;
                padding-right: 30%;
                font-weight: bold;
                color: #36007c;
    
                span{
                    color: blue;
                }
            }
    
            #contact{
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 1.4em;
                border: 1px solid;
                font-weight: bold;
                background: blue;
                padding: .4em 1em;
                border-radius: 5em;
            }
    
            .navig-icon:hover{
                color: blue;
                background: white;
                transition: 0.3s;
            }
        }
    
        .navigation{
    
            ul{
                list-style-type: none;
                margin: 1em;
                padding-top: 1em;
                text-align: center;
    
                li{
                    display: inline;
                }
    
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    padding: 16px 25px;
                    font-size: 17px;
                    margin-bottom: 0px ;
                }
    
                #current{
                    text-shadow: 0px 0px 20px blue;
                }
    
                a:hover{
                    color: blue;
                    font-weight: bold;
                    transition: 0.3s;
                }
            }
        }
    }
}

.sect-2{
    .head{
        color: gold;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
      
    input[type=submit] {
        background-color: rgb(160, 136, 1);
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }
      
    input[type=submit]:hover {
        background-color: #45a049;
    }
      
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;

        .row{

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .column {
                
                form{
                    color: white;
                    font-size: 1.25em;
                    float: left;
                    margin-left: 100px;
                    margin-top: 100px;
                    padding: 50px;

                    border: 5px solid;
                    border-style: outset;
                    border-color: gold;
                    border-radius: 10px;
                    width: 600px;
                    background-color: rgba(0, 0, 0, 0.6);
                    opacity: 10;

                    position: absolute;

                    h1{
                        color: white;
                        font-size: 3em;
                        text-align: center;
                        
                        margin-top: 0px;
                    }
                }   
            }
        }
    }
}

.sect-3{
    margin-top: 100px;

    .workingHrs{
        border: transparent;
        width: 600px;
        height: 400px;
        position: relative;

        .day{
            border: transparent;
            width: 600px;
            height: 400px;
            margin-top: 10px;
            margin-left: 900px;
            position: absolute;
    
            p{
                padding: 0px;
                text-decoration: none;
                color: gold;
                font-family: cursive;
                font-size: 20px;
            }
        }
        
        .time{
            border: transparent;
            width: 600px;
            height: 400px;
            margin-top: 10px;
            margin-left: 900px;
            position: absolute;
            left: 140px;
    
            p{
                padding: 0px;
                text-decoration: none;
                color: gold;
                font-family: cursive;
                font-size: 20px;
            }

            .closed{
                color:red;
            }
    
        }
    }
    
    iframe{
        height: 600px;
        width: 600px;

        margin-top: 50px;
        margin-left: 900px;
        margin-bottom: 50px;
        
        position: absolute;
    }
}

/* Style the container/contact section */

/* Create two columns that float next to eachother */
      
/* Clear floats after the columns */
      
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      
